.cube {
  width: 40.5px;
  height: 40.5px;
  margin: 0;
  border: 1px solid transparent;
}
.snakeBody {
  background-color: #cbdb388a;
  z-index: 1;
}
.food {
  background-image: url('../../images//apple.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
.snakeHead {
  z-index: 2;
  background-image: url('../../images/snakehead.png');
  background-size: 200%;
  background-repeat: no-repeat;
}

.snakeHeadOnStop {
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 60%;
  background-color: #ccdb38;
}
