header {
  display: flex;
  background-color: rgba(106, 142, 35, 0.253);
  justify-content: space-between;
  padding: 0 1% 0 1%;
  min-height: 100px;
}
.infoCon {
  width: 350px;
  font-size: 90%;
}
.infoCon .score {
  font-size: 200%;
  margin: 5%;
  color: goldenrod;
}
h1 {
  align-self: center;
  color: olive;
}

.level {
  font-size: 200%;
}
@media only screen and (max-width: 850px) {
  header {
    padding: 0 5% 0 5%;
  }
}
