.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer {
  color: olive;

  text-align: left;
  padding: 0.1% 0.1% 0.1% 0.5%;
  font-size: 70%;
  background-color: rgba(106, 142, 35, 0.253);
}
header {
  display: flex;
  background-color: rgba(106, 142, 35, 0.253);
  justify-content: space-between;
  padding: 0 1% 0 1%;
}
h1 {
  color: olive;
}
h2 {
  font-size: 500%;
  margin-top: 0;
}
button {
  color: olive;
  border: 5px solid olive;
  background-color: rgba(106, 142, 35, 0.253);
  border-radius: 15px;
  font-size: 150%;
  padding: 1%;
}
button:hover {
  color: rgb(172, 172, 2);
  border-color: rgb(172, 172, 2);
}
.infoCon {
  width: fit-content;
}
.infoCon .score {
  font-size: 100%;
}
.score {
  font-size: 300%;
  color: goldenrod;
}
.net {
  background-color: whitesmoke;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 850px;
  border-style: solid;
  border-width: 7px;
  padding: 12px 16.5px 13px 16.5px;
  border-image: url('./frame.png') 10 fill round;
}

@media only screen and (max-width: 850px) {
  header {
    padding: 0 5% 0 5%;
  }
  p {
    padding: 0 6% 65% 6%;
  }
}
